@import "../../../styles/variables";
.day-grid-container {
  display: flex;
  
  flex-wrap: wrap;
  justify-content: flex-start;
  
  .day-tile {
    margin: $padding-s;
    display: block;
    flex-grow: 1;

    min-width:256px;
    max-width: 500px;
    
  }
}