<!--<table>-->
<!--<tr>-->
<!--<th *ngFor="let header of headers">-->
<!--{{header}}-->
<!--</th>-->
<!--</tr>-->
<!--<tr *ngFor="let row of _rows">-->
<!--<td *ngFor="let value of row">{{value}}</td>-->
<!--</tr>-->
<!--</table>-->
<!--Covalent Version-->
<div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
  <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span class="md-title">Historical Data</span>
  </span>
    <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
  </span>
    <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" [placeholder]="'search for orders'" [alwaysVisible]="false"
                   (searchDebounce)="search($event)" flex>
    </td-search-box>
</div>
<md-divider></md-divider>
<td-data-table
        [data]="filteredData"
        [columns]="columns"
        [sortable]="true"
        [sortBy]="sortBy"
        [sortOrder]="sortOrder"
        (sortChange)="sort($event)">

    <!--template for date -->
    <template tdDataTableTemplate="date" let-value="value">
        <div layout="row">
            <span flex>{{value | date: 'dd-MM-yyyy'}}</span>
        </div>
    </template>
    <!--template for price-->
    <template tdDataTableTemplate="amount" let-value="value">
        <div layout="row">
            <span flex>{{value}} €</span>
        </div>
    </template>
    <!--template for vegetarian-->
    <template tdDataTableTemplate="vegetarian" let-value="value">
        <div layout="row">
            <span flex>{{value? 'yes' : 'no'}}</span>
        </div>
    </template>
    <!--template for paid-->
    <template tdDataTableTemplate="paid" let-value="value">
        <div layout="row">
            <span flex>{{value? 'yes' : 'no'}}</span>
        </div>
    </template>

</td-data-table>

