@import '~@angular/material/core/theming/all-theme';
@import '~@covalent/core/theming/all-theme';

//@import '~@angular/material/core/theming/_theming';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$steak-app-primary: mat-palette($mat-blue-grey);
$steak-app-accent:  mat-palette($mat-teal, 500, 100, 700);

// The warn palette is optional (defaults to red).
$steak-app-warn:    mat-palette($mat-red);
$steak-app-grey:    mat-palette($mat-grey);

// Create the theme object (a Sass map containing all of the palettes).
$steak-app-theme: mat-light-theme($steak-app-primary, $steak-app-accent, $steak-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($steak-app-theme);
@include covalent-theme($steak-app-theme);

