@import '~@angular/material/core/style/_variables';
@import "./app-theme";


$small-breakpoint-width: 840px;

$padding-s: 16px;
$padding-m: 32px;
$padding-l: 40px;

$hover-background: mat-color($steak-app-grey, 0.1);
