@import "styles/variables";

//include components
@import "app/client/index";
@import "app/shared/index";
@import "app/administration/index";
@import "app/shared/components/main/main.component";



body {
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
}

pre {
  // Pre elements won't wrap text by default and can exceed the boundaries of their parent element.
  // This adds extra scroll space when visiting the docs mobile. Pre-wrapping the code examples
  // will ensure that the code never exceeds the page width.
  white-space: pre-wrap;
}



oc-steak-app, steak-sidenav, md-sidenav-container{
  display: block;
}

.md-content{
  max-width: $layout-breakpoint-lg;
  margin: auto;
}

md-sidenav-container{
  transform: none !important;
  position: inherit !important;
}

