<div>
    <span class="offer-text">{{ooPair.offer.description}}</span>
    <span class="offer-price">{{ooPair.offer.price}} €</span>
    <md-chip-list class="offer-tags">
        <md-chip color="primary">V</md-chip>
    </md-chip-list>
</div>
<div class="orders-box">
    <div class="order-counter">
        <p>Ordered: {{ooPair.orders.length}}</p>
    </div>
    <div class="offer-actions">
        <button md-mini-fab (click)="removeOrder(ooPair)" [disabled]="ooPair.orders.length < 1">-</button>
        <button md-mini-fab (click)="addOrder(ooPair.offer)">+</button>
    </div>
</div>





<!--<div md-line>-->
<!--<p>{{offer.description}}</p>-->
<!--<div style="float: right;">{{offer.price}} €</div>-->
<!--</div>-->


<!--&lt;!&ndash;<md-icon md-list-icon *ngIf="offer.vegetarian">local_florist</md-icon>&ndash;&gt;-->
<!--<md-chip-list md-line>-->
<!--<md-chip color="primary">V</md-chip>-->
<!--</md-chip-list>-->
<!--<div md-line>-->
<!--<button md-mini-fab>-</button>-->
<!--<button md-mini-fab>+</button>-->

<!--</div>-->

