@import "../../../styles/variables";

.offer-form-container {
  width: 400px;
  margin: auto;
  display: block;
  form {
    md-input-container, md-checkbox, md-radio-group {
      display: block;
      margin: $padding-s 0;
    }
  }
}