@import "../../../styles/variables";

steak-offer-form-dialog{
  //width: 400px;
  //margin: auto;
  //display: block;
  form {
    md-input-container, md-checkbox, md-radio-group {
      display: block;
      width:100%;
      margin: $padding-s 0;
    }
  }
}