<form #offerForm="ngForm">
    <h1 md-dialog-title>Dish for {{date | date: 'EEE., dd.MM'}}</h1>

    <md-dialog-content>
        <!--DESCRIPTION-->
        <md-input-container [dividerColor]="offer.description? 'primary' : 'warn'">
            <textarea mdInput placeholder="Description" name="description" [(ngModel)]="offer.description"
                      required></textarea>
        </md-input-container>

        <!--PRICE-->
        <md-input-container [dividerColor]="offer.price? 'primary' : 'warn'">
            <input type="number" step="0.10" mdInput placeholder="Price" name="price" [(ngModel)]="offer.price"
                   required>
        </md-input-container>

        <!--TIME-->
        <md-radio-group class="example-radio-group" [(ngModel)]="offer.time" required name="time" ngDefaultControl>
            <md-radio-button class="example-radio-button" value="Fruehstueck">
                Breakfast
            </md-radio-button>
            <md-radio-button class="example-radio-button" value="Mittag">
                Lunch
            </md-radio-button>
        </md-radio-group>

        <!--main dish?-->
        <md-checkbox [(ngModel)]="offer.main_offer" name="main_offer" ngDefaultControl>Main Dish</md-checkbox>
        <!--vegetarian?-->
        <md-checkbox [(ngModel)]="offer.vegetarian" name="vegetarian" ngDefaultControl>Vegetarian</md-checkbox>

        <!--heat-->
        <md-input-container [dividerColor]="offer.heat? 'primary' : 'warn'">
            <input type="number" mdInput placeholder="Heat served" name="heat" [(ngModel)]="offer.heat" required>
        </md-input-container>


    </md-dialog-content>

    <md-dialog-actions>
        <button md-raised-button [disabled]="!offerForm.form.valid" color="primary" (click)="createOffer(offer)" *ngIf="canBeCreate()">Create</button>
        <button md-raised-button [disabled]="!offerForm.form.valid" color="primary" (click)="updateOffer(offer)"type="submit" *ngIf="canBeUpdate()">Update</button>
        <button md-raised-button color="warn" *ngIf="canBeDelete()" (click)="deleteOffer(offer)">Delete</button>
    </md-dialog-actions>
</form>
